body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #ff5f6d, #ffc371); /* Cambia los colores del fondo aquí */
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8); /* Cambia el color del contenedor del formulario */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px; /* Aumenta el tamaño del contenedor del formulario */
}

.login-form h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
  font-size: 24px; /* Ajusta el tamaño del título del formulario */
  margin-bottom: 30px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #ff4e78; /* Cambia el color del botón */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

button:hover {
  background-color: #ff6b92; /* Cambia el color del botón al pasar el mouse */
}

.error-msg {
  color: red;
  text-align: center;
  margin-top: 15px;
  display: none;
}

.register-link {
  text-align: center;
}

.register-link a {
  color: #333;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
